<style>
    #map{
        border: 4px solid rgba(27, 27, 56, 0.3);; /* Add border */
        display: flex;
        justify-content: center; /* Horizontal center */
        align-items: center; /* Vertical center */
        margin: 0 auto; /* Center within the container */
        width: 700px;
        height: 250px;
    }

    .title {
        color: #ffff;
        justify-content: center; /* Horizontal center */
        text-align: center; /* Center text */
        margin-top: -10px;
    }
</style>

<nb-card size="small">
    <nb-card-body>
        <h2 id="title" class="title">Locations</h2>
        <div id="map"></div>
    </nb-card-body>
</nb-card>
