<style>
  .header1 {
    background-color: #6f42c1;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px 8px 0 0;
  }
  </style>
  <form ngNativeValidate ngForm="t" (ngSubmit)="submit()">
<nb-card>
  <nb-card-header class="header1">

      <h3 style="
      color: #ffff;
font-size: 24px;
font-family: Open Sans, sans-serif;"> Alert configuration </h3>
  </nb-card-header>
  <nb-card-body>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label" style="
          color: #ffff;">Select device:</label>
          <nb-select [(selected)]="selectedOption"  class="position-select" placeholder="device">
            <nb-option *ngFor="let p of options" [value]="p" >{{ p.name }}</nb-option>
          </nb-select>
        </div>
        <div class="form-group">
          <label class="label" style="
          color: #ffff;">Data:</label>
          <nb-select [(selected)]="data" placeholder="data">
            <nb-option *ngFor="let t of typesData" [value]="t" >{{ t }}</nb-option>
          </nb-select>
        </div>
        <div class="form-group">
          <label class="label" style="
          color: #ffff;">Min Value :</label>
          <input nbInput required="true"  type="number" [(ngModel)]="Vmin" name="content">
        </div>
        <div class="form-group">
          <label class="label"style="
          color: #ffff;">Max Value :</label>
          <input nbInput  type="number" required="true" [(ngModel)]="Vmax" name="valeur max">
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label" style="
          color: #ffff;">alert type:</label>
          <nb-select [(selected)]="status">
            <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
          </nb-select>
        </div>

        <div>
          <nb-checkbox [(ngModel)]="Nemail" [ngModelOptions]="{standalone: true}">Notify by Email</nb-checkbox>
          <!--input class=" form-control" type="text" id="email" required [(ngModel)]="email"
          name="email" placeholder="treetronix@gmail.com" -->
        </div>
        <div>
          <nb-checkbox [(ngModel)]="Ntoast" [ngModelOptions]="{standalone: true}">Notify by Toast</nb-checkbox>
        </div>
      </div>
    </div>

  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="submit" class="appearance-filled size-medium btn-primary shape-rectangle transitions" type="submit">save alert</button>
    <button nbButton status="danger" type="reset">cancel</button>
  </nb-card-footer>
</nb-card>
</form>



<nb-card>
  <nb-card-header class="header1">
    <h3 style="
    color: #ffff;
font-size: 24px;
font-family: Open Sans, sans-serif;">All alerts</h3>
  </nb-card-header>
  <nb-card-body size="100%">
    <ng2-smart-table [settings]="settings" [source]="dt" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>







