<style>
  .profile-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; /* Horizontal and vertical center */
    text-align: center; /* Center text */
    margin-top: 20px; /* Increased margin */
  }

  .info-item {
    margin-bottom: 10px; /* Reduced margin */
    font-size: 16px; /* Decreased font size */
  }

  .info-item label {
    font-size: 18px; /* Decreased font size */
    margin-top: 5px; /* Reduced margin */
    font-weight: bold;
    color: #a16eff;
  }

  .info-item div {
    padding-left: 10px; /* Increased padding */
  }

  .bold1 {
    font-weight: bold;
    font-size: 18px; /* Decreased font size */
  color: #ffff;
  }

  
  .welcome-message {
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    text-align: center; /* Center text */
    margin-bottom: 5px; /* Reduced margin */
    font-size: 18px; /* Decreased font size */
  }

  .btn-profile {
    background-color: #3366ff; /* Updated button color */
    color: white; /* Updated text color */
    padding: 10px 20px; /* Increased button padding */
    border: none;
    text-align: center; /* Center text */
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Decreased font size */
    margin-top: 10px; /* Increased margin */
  }
</style>
<nb-card size="small">
  <nb-card-header>
    <div class="welcome-message">
      Welcome, <span class="bold1"> {{ data.username }} </span>!
      Thank you for using our platform. Explore the various features available.
    </div>
    </nb-card-header>
  <nb-card-body>
    <div class="profile-info">
      <div class="info-item">
        <label>Full name:</label>
        <div>{{ data.username }}</div>
      </div>

      <div class="info-item">
        <label>Num Tel:</label>
        <div>{{ data.numTel }}</div>
      </div>

      <div class="info-item">
        <label>Email:</label>
        <div>{{ data.email }}</div>
      </div>
      <button class="btn btn-profile" (click)="goToProfilePage()">Edit Profile</button>
    </div>
  </nb-card-body>
</nb-card>