<h1 id='title' class='title'>Forgot Password</h1>
<p class='sub-title'>Enter your email and to receive instructions</p>

<form (ngSubmit)='onSubmit()' [formGroup]='requestForm' aria-labelledby='title'>

  <div class='form-control-group'>
    <label class='label' for='input-email'>Enter your email address:</label>
    <input nbInput
           formControlName='email'
           id='input-email'
           name='email'
           pattern='.+@.+\..+'
           placeholder='Email address'
           autofocus
           fullWidth
           fieldSize='large'>


  <button nbButton
          fullWidth
          status='success'
          size='large'>
    Request password
  </button>
  </div>
</form>
