
<style>
  #madiv { width: 60%; }
  #madiv2 {position: center}
   .header1 {
    background-color: #6f42c1;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px 8px 0 0;
  }
</style>


  <nb-card >
    <nb-card-header class="header1">
      <h1 style=" color: #ffff;
      font-size: 24px;
      font-family: Open Sans, sans-serif;" >  Add Device </h1>
    </nb-card-header>
    <nb-card-header>
      <form (ngSubmit)="onSubmit()" [formGroup]="SensorForm">
<div id="madiv">
        <div class="form-group">
          <input type="text" nbInput fullWidth placeholder="write your Device  ID " required="true" formControlName="code">
          <p  style="color:red;"> {{ msg }} </p>
        </div>
        <div class="form-group">
          <input type="text" nbInput fullWidth placeholder="choose a name " required="true" formControlName="name">
        </div>
        <div class="form-group">
          <nb-select [(selected)]="selectedOption" placeholder="select your factory">
            <nb-option (click)="place()" *ngFor="let o of options" [value]="o"> {{ o.name }}</nb-option>
          </nb-select>
        </div>
        <div class="form-group">
          <nb-select [(selected)]="selectedOption2" placeholder="select exact zone">
            <nb-option *ngFor="let o of places" [value]="o"> {{ o }}</nb-option>
          </nb-select>
        </div>
        <div>

        <button _ngcontent-csk-c27="" type="submit" class="appearance-filled size-medium btn btn-primary shape-rectangle transitions" nbbutton="" status="primary" _nghost-csk-c16="" ng-reflect-status="primary" aria-disabled="false" tabindex="0">
          Add
        </button>
  &nbsp;&nbsp;
  <button _ngcontent-csk-c27="" type="reset" class="cancel appearance-filled size-medium status-danger shape-rectangle transitions" nbbutton="" status="danger" _nghost-csk-c16="" ng-reflect-status="danger" aria-disabled="false" tabindex="0">
    Cancel
  </button>
</div>
</div>
      </form>
    </nb-card-header>
    <nb-card-body>
  <div fullWidth>
    <img src="../assets/images/s.png" width="50%" height="500px"/>
    <img src="../assets/images/s2.png" width="50%" height="500px"/>
  </div>
</nb-card-body>
  </nb-card>


