
<style>
   nb-card-header {
    background-color: #6f42c1;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px 8px 0 0;
  }
</style>
<nb-card>
  <nb-card-header>

    <h1 style=" color: #ffff;
    font-size: 24px;
    font-family: Open Sans, sans-serif;" >   All Factories </h1>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="data1" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>







