<style>
  #madiv3 {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 100px;
    align-self: center;
  }



  #madiv {
    width: 60%;
  }

  #madiv2 {
    position: center
  }
</style>



<nb-card  id="contentToConvert">
  <nb-card-header>
    <h1 style=" color: #3366ff ; text-align: center ;"> Price </h1>
  </nb-card-header>

  <nb-card-body>



    <div class="row" id="madiv3">

      <div class="form-group">
        <h4 style="color: #23afdc;"> Select Factory : <nb-select [(selected)]="SelectedFactory"
            placeholder="select your factory">
            <nb-option (click)="place()" *ngFor="let o of options" [value]="o"> {{ o.name }}</nb-option>
          </nb-select>
        </h4>
      </div>
      <div class="form-group">
        <h4 style="color: #23afdc;"> Select Zone : <nb-select [(selected)]="SelectedZone"
            placeholder="select exact zone">
            <nb-option (click)="send()" *ngFor="let o of places" [value]="o"> {{ o }}</nb-option>
          </nb-select>
        </h4>
      </div>
      <div class="form-group">
        <h4 style="color: #23afdc;"> Select Device : <nb-select [(selected)]="SelectedDevice" placeholder="Devices">
            <nb-option (click)="DeviceOn()" *ngFor="let o of DeviceByZone" [value]="o"> {{ o.name }}</nb-option>
          </nb-select>
        </h4>
      </div>

    </div>
    <br />
    <br />
    <div class="row" id="madiv3">

      
      <div>
        <h3 style="
            color: #23afdc;" *ngIf="(SelectedDevice !='ok') && (SelectedDevice !='Devices') && (SelectedFactory !='ok') && (SelectedZone !='ok')&& (SelectedZone !='null') ">
          <span style="
            color: #222bdc;"> Device </span> : {{SelectedDevice.name}}</h3>
        <h4 style="
            color: #3b59dc;" *ngIf="(SelectedDevice !='ok') && (SelectedDevice !='Devices') && (SelectedFactory !='ok') && (SelectedZone !='ok')&& (SelectedZone !='null') "> At
          {{SelectedFactory.name}} factory
        </h4> 
        <h5 style="
            color: #3b59dc;"  *ngIf="(SelectedDevice !='ok') && (SelectedDevice !='Devices') && (SelectedFactory !='ok') && (SelectedZone !='ok')&& (SelectedZone !='null') ">
          {{SelectedZone}}
        </h5>
      </div>
      <div class="input-group col-md-11">

        <span class="input-group-addon">start date:</span>&nbsp;&nbsp;&nbsp;
        <angular2-date-picker [(ngModel)]="dateDebut" [settings]="settings"></angular2-date-picker>&nbsp;&nbsp;&nbsp;

        <span class="input-group-addon">Finish date:</span>&nbsp;&nbsp;&nbsp;
        <angular2-date-picker [(ngModel)]="dateFin" [settings]="settings"></angular2-date-picker>&nbsp;&nbsp;&nbsp;

        <span class="input-group-btn">&nbsp;&nbsp;
          <button type="button" value="Click" id='btn' class="btn btn-info btn-flat" (click)="getConsumption()"> ok
          </button>
        </span>
      </div>
    </div>
    <br />
    <br />
    <br />
    <form (ngSubmit)="onSubmit()" *ngIf="   DeviceSelectON  !='0'">

      <div class="row" *ngIf="   DeviceSelectON  =='1'">
        <div class="col-lg-4">
          <!--label>Min value</label-->
          <input class=" form-control" placeholder="Max of the 1st Tarif (Kw)" type="number" id="vmin11" required [(ngModel)]="vmin11" name="vmin11" /> 
          <br/>
          <input class=" form-control" placeholder="1st price" type="number" id="Price11" required [(ngModel)]="Price11" name="Price11">
        </div>
        <div class="col-lg-4">
          <!--label>Min value</label-->
          <input class=" form-control" placeholder="Max of the 2nd Tarif (Kw)" type="number" id="vmin12" required [(ngModel)]="vmin12" name="vmin12" />
          <br/>
          <input class=" form-control" placeholder="2nd price" type="number" id="Price12" required [(ngModel)]="Price12" name="Price12">
        </div>
        <div class="col-lg-4">
          <!--label> >>> 2nd Tarif  </label-->
          <br/>
          <br/>
          <br/>
          <input class=" form-control" placeholder="3rd price (>>> 2nd Tarif)" type="number" id="Price13" required [(ngModel)]="Price13" name="Price13">
        </div>
       </div>

       <div class="row" *ngIf="   DeviceSelectON  =='2'">
         
        <div class="col-lg-3">
          <label>First period</label>
          <input class=" form-control" type="time" id="time1" required [(ngModel)]="time1" name="time1" />
          <br/>
          <input class=" form-control" placeholder="1st price" type="number" id="Price21" required [(ngModel)]="Price21" name="Price21">
        </div>
        <div class="col-lg-3">
          <label>Second period</label>
          <input class=" form-control" type="time" id="time2" required [(ngModel)]="time2" name="time2" />
          <br/>
          <input class=" form-control" placeholder="2nd price" type="number" id="Price22" required [(ngModel)]="Price22" name="Price22">
        </div>
        <div class="col-lg-3">
          <label>Third period</label>
          <input class=" form-control" type="time" id="time3" required [(ngModel)]="time3" name="time3" />
          <br/>
          <input class=" form-control" placeholder="3nd price" type="number" id="Price23" required [(ngModel)]="Price23" name="Price24">
        </div>
        <div class="col-lg-3">
          <label>Fourth period</label>
          <input class=" form-control" type="time" id="time4" required [(ngModel)]="time4" name="time4" />
          <br/>
          <input class=" form-control" placeholder="4nd price" type="number" id="Price24" required [(ngModel)]="Price24" name="Price24">
        </div>
      
       </div>

       <div class="row" *ngIf="   DeviceSelectON  =='3'">
        <div class="col-lg-4">
          <!--label>Max of the 1st Tarif ( m 3)</label-->
          <input class=" form-control" placeholder="Max of the 1st Tarif " type="number" id="vmin31" required [(ngModel)]="vmin31" name="vmin31" />
          <br/>
          <input class=" form-control" placeholder="1st price" type="number" id="Price31" required [(ngModel)]="Price31" name="Price31">
        </div>
        <div class="col-lg-4">
          <!--label>Max of the 2nd Tarif ( m 3)</label-->
          <input class=" form-control" placeholder="Max of the 2nd Tarif" type="number" id="vmin32" required [(ngModel)]="vmin32" name="vmin32" />
          <br/>
          <input class=" form-control" placeholder="2nd price" type="number" id="Price32" required [(ngModel)]="Price32" name="Price32">
        </div>
        <div class="col-lg-4">
          <!--label> >>> 2nd Tarif  </label-->
          <br/>
          <br/>
          <br/>
          <input class=" form-control" placeholder="3rd price ( >>> 2nd Tarif )" type="number" id="Price33" required [(ngModel)]="Price33" name="Price33">
        </div>

       </div>

       <div class="row" *ngIf="   DeviceSelectON  =='4'">
        <div class="col-lg-6">
          <label>Min value</label>
          <input class=" form-control" type="number" id="vmin41" required [(ngModel)]="vmin41" name="vmin41" />
        </div>
        <div class="col-lg-6">
          <label>Min value</label>
          <input class=" form-control" type="number" id="vmin42" required [(ngModel)]="vmin42" name="vmin42" />
        </div>
       </div>
       <br/>
       <br/>

       
      <button _ngcontent-csk-c27="" type="submit" nbbutton="" status="success" _nghost-csk-c16=""
        ng-reflect-status="success" class="appearance-filled size-medium status-success shape-rectangle transitions"
        aria-disabled="false" tabindex="0"  [disabled]="SensorSelected !='ok'">
        Total
      </button>
      &nbsp;&nbsp;
      <button _ngcontent-csk-c27="" type="reset"
        class="cancel appearance-filled size-medium status-danger shape-rectangle transitions" nbbutton=""
        status="danger" _nghost-csk-c16="" ng-reflect-status="danger" aria-disabled="false" tabindex="0">
        Cancel
      </button>
      <button _ngcontent-csk-c27="" type="submit" nbbutton="" status="success" _nghost-csk-c16=""
      ng-reflect-status="success" class="appearance-filled size-medium status-success shape-rectangle transitions"
      aria-disabled="false" tabindex="0"  [routerLink]="['/pages/facture']"  [disabled]="TotalOn !='ok'">
      Check Bill
    </button>
    
      <br/>
       <br/>
      <div>
        

      </div>
    </form>

  </nb-card-body>
</nb-card>